h2{
  text-align: center;
}

img{
  width: 20%;
  height: auto;
  margin-right: 2rem;
}

.info_item{
  display: flex;
  justify-content: space-between;
}


.personalized_item,
.hotel_item{
  display: flex;
  margin: 2rem;
  padding: 1.5rem;
  border-radius: 10px;
}

.personalized_item{
  border: 2px solid black;
  background-color: #ddd;
}


/* hotel list */
.hotel_item {
  border: 1px solid #ddd;
}

.hotel_info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  flex: 1;
}

/* sort select button */
.sort_select{
  padding: 0.5rem;
  border-radius: 5px;

}

/* room select button */
.room_amount {
  text-align: center;
  margin: auto 2rem;
  padding: 0.3rem;
  width: 5%;
  border-radius: 5px;
}

/* reserve button */
.btn {
  margin: auto;
  padding: 1rem;
  height: 40%;
  width: 10%;
}
