* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.1s ease;
}

/* header section */
.navbar {
  height: 15vh;
  border-bottom: 1px solid white;
}

.navbar-brand {
  flex: 1;
  margin-right: auto;
}

#navbarNav {
  display: flex;
  justify-content: flex-end;
}

.form-check-label {
  color: white;
}

button.mode_switch {
  margin: 0 2rem;
}

/* main section */
main {
  margin-top: 10vh;
  padding: 5rem 0;
}

.username {
  text-align: center;
  padding-bottom: 3rem;
}

/* tab */
.nav-tabs a {
  background-color: #ddd;
  margin-right: 1rem;
  padding: 10px 20px;
  color: black;
}

.nav-tabs i {
  color: #007bff;
  padding-right: 1rem;
  font-size: 1.3rem;
}

/* tab content */
.tab_content h1 {
  text-align: center;
  padding: 1.5rem;
  color: white;
  position: relative;
  z-index: 2;
}

#Flight_Hotel,
#Flight,
#Hotel {
  text-align: center;
  background-size: cover;
  position: relative;
}

#Flight_Hotel::before,
#Flight::before,
#Hotel::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
}

#Flight_Hotel {
  background-image: url(./img/flighthotel_top.jpg);
  background-position: center;
}

#Flight {
  background-image: url(./img/flight_top.jpg);
  background-position: center bottom;
}

#Hotel {
  background-image: url(./img/hotel_top.jpg);
  background-position: center;
}

/* icons */
.input-group-text {
  font-size: 25px;
  height: 100%;
  background-color: #bebebe;
  /* color: #007bff; */
  border-radius: 0;
}

/* form */
form {
  width: 100%;
  max-width: 50%;
  margin: 0 auto;
}

.input-group {
  margin: 2rem 0;
}

.form-floating {
  margin-bottom: 0;
}

/* button */
.button-group {
  margin: 2rem 0 1rem 0;
  position: relative;
  z-index: 2;
}

.button-group .search {
  margin-top: 1.2rem;
  border: 1px solid white;
}

.clear {
  color: white;
  margin: 0.3rem 0 2rem 0;
}

.clear {
  position: relative;
  z-index: 2;
}

/* dark mode */
.dark-mode {
  background-color: rgb(37, 37, 37);
  color: white;
}
